<%-include('partials/header.ejs') %>
    <div class="main">
    <% data.forEach(function(val){ %>
        <div class="card">
            <h2></h2>
            <p><%=val.heading %></p>
            <div class="box">
                <div class="rt">
                    <h3>Award</h3>
                    <p><%=val.value %></p>
                </div>
                <div class="lt">
                    <h3>Eligibility</h3>
                    <p><%=val.eligibilityCard %></p>
                </div>
            </div>
            <button><a href="/scholarships/<%= val.p %>">View Scholarship</a> </button>
        </div>
    <% }) %>
    </div>
    
</body>
</html>